# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Sylva\Desktop\OpenClassrooms\Projets\P4_buscato_sylvain\parkingSystem\parkingsystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
